<!doctype html>
<title>Amazon S3 CORS Upload</title>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/md5.js') }}"></script>
    <script src="{{ url_for('static', filename='js/S3MultipartUploader.js') }}"></script>
    <script>
        $(function () {
            var fileDOM = $("#uploadFile");
            var settings = {
                s3AccessKey: "{{ AWS_ACCESS_KEY_ID }}",
                s3BucketName: "{{ S3_BUCKET_NAME }}",
                serverInitMultipartUrl: "{{ url_for('init_multipart') }}",

                onChange: function() {
                    console.log("onChange");
                },

                onProgress: function(e) {
                    var progress = e.loaded / e.total * 100;
                    if(progress == 100) {
                        $("#progress").removeClass("progress-striped active");
                    }
                    else {
                        $("#progress").addClass("progress-striped active");
                    }
                    $("#bar").css("width", progress + "%");
                },

                onDone: function() {
                    $("#uploadButton").text("Upload").removeAttr("disabled");
                    $("#message").html("Upload done!");
                }
            };

            var uploader = new S3MultipartUploader(fileDOM, settings);
            $("#uploadButton").click(function() {
                uploader.startUpload();
                $(this).text("Uploading...").attr("disabled", "disabled");
            });
        });
    </script>
</head>

<body>
    <h1>Amazon S3 CORS Resumable Upload</h1>
    <input type="file" name="file" id="uploadFile">
    <button type="button" id="uploadButton">Upload</button>

    <div id="progress" class="progress">
        <div id="bar" class="bar"></div>
    </div>

    <div id="message"></div>
</body>
